@inject FribergCarRentalsWebbApp.Services.ICustomerAccountService CustomerAccountService
@inject FribergCarRentalsWebbApp.Services.IAdministratorAccountService AdministratorAccountService

@{
    var splitCookie = Context.Request.Cookies["UserAuth"]?.Split('|');

    int userId = int.Parse(splitCookie?[0] ?? "0");

    bool userIsAdmin = bool.Parse(splitCookie?[1] ?? "false");

    bool userIsConfirmedCustomer = CustomerAccountService.ConfirmAccountAsCustomer(userId) && userIsAdmin == false;

    bool userIsConfirmedAdmin = AdministratorAccountService.ConfirmAccountAsAdministrator(userId) && userIsAdmin == true;

    string? userEmail = null;
    if (userIsConfirmedCustomer)
    {
        userEmail = CustomerAccountService.GetEmail(userId);
    }

    var cookiesAccepted = Context.Request.Cookies["cookiesAccepted"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentalsWebbApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentalsWebbApp.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!userIsConfirmedCustomer && !userIsConfirmedAdmin)
    {
        @await Html.PartialAsync("~/Views/Shared/_LoginSignupPopup.cshtml")
    }
    @if (cookiesAccepted == null)
    {
        @await Html.PartialAsync("~/Views/Shared/_CookieBanner.cshtml")
    }
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Friberg Car Rentals</a>

                @if (userIsConfirmedCustomer)
                {
                    <!-- User Circle -->
                    <a id="userProfile" asp-area="" asp-controller="Account" asp-action="Index"
                       class="user-circle d-flex justify-content-center align-items-center text-decoration-none"
                       data-bs-toggle="tooltip" data-bs-placement="left" title="@userEmail">
                        @userEmail?.Substring(0, 1).ToUpper()
                    </a>
                }

                @if (!userIsConfirmedCustomer && !userIsConfirmedAdmin)
                {
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginSignupModal">
                        Login / Signup
                    </button>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FribergCarRentalsWebbApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/loginSingup.js"></script>
    <script src="~/js/cookieBanner.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
