@inject FribergCarRentalsWebbApp.Services.IAccountService AccountService

@{
    int userId = (int)(Context.Items["UserId"] ?? 0);

    bool userIsCustomer = (bool)(Context.Items["UserCustomer"] ?? false);

    bool userIsAdmin = (bool)(Context.Items["UserAdmin"] ?? false);

    string? userEmail = null;

    if (userIsCustomer)
    {
        userEmail = AccountService.GetCustomerEmail(userId);
    }

    var cookiesAccepted = Context.Request.Cookies["cookiesAccepted"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentalsWebbApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentalsWebbApp.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!userIsCustomer && !userIsAdmin)
    {
        @await Html.PartialAsync("~/Views/Shared/_LoginSignupPopup.cshtml")
    }
    @if (cookiesAccepted == null)
    {
        @await Html.PartialAsync("~/Views/Shared/_CookieBanner.cshtml")
    }
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/FribergCarRentalsLogoSmall.png" alt="Logo" width="36" height="36" class="d-inline-block align-top me-2">
                    <span class="align-middle">Friberg Car Rentals</span>
                </a>

                @if (userIsCustomer)
                {
                    <!-- User Circle -->
                    <a id="userProfile" asp-area="" asp-controller="Account" asp-action="Index"
                       class="user-circle d-flex justify-content-center align-items-center text-decoration-none"
                       data-bs-toggle="tooltip" data-bs-placement="left" title="@userEmail">
                        @userEmail?.Substring(0, 1).ToUpper()
                    </a>
                }

                @if (!userIsCustomer && !userIsAdmin)
                {
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginSignupModal">
                        Login / Signup
                    </button>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2025 - Friberg Car Rentals - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/loginSingup.js"></script>
    <script src="~/js/cookieBanner.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
