html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
    .custom-border {
        border-right: none !important;
        border-bottom: 1px solid #dee2e6;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.user-circle {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

    .user-circle:hover {
        background-color: #0056b3;
        color: white;
    }