@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Top Half: Logo and Text -->
    <div class="row top-half justify-content-center align-items-center mb-5 mt-5" id="home-page-top-part">
        <div class="col-auto">
            <img src="~/images/FribergCarRentalsLogo.png" alt="Logo" class="img-fluid" style="max-height: 80%;">
        </div>
        <div class="col-auto d-flex flex-column justify-content-center ms-3">
            <h1 class="display-4">Rent cheap cars!</h1>
            <p class="lead">We offer not only cheap, but also high quality cars!</p>
        </div>
    </div>

    <!-- Bottom Half: Main Button -->
    <div class="row align-items-center">
        <div class="col d-flex align-items-center justify-content-center" style="margin-top: 2em !important">
            <button type="button" class="btn btn-primary btn-lg fs-3 p-3" style="padding-right: 2em !important; padding-left: 2em !important">RENT CAR</button>
        </div>
    </div>
</div>
