@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mt-5 mb-3">@ViewData["Title"]</h1>

<p class="fw-bold">
    Last updated: 2025-02
</p>

<p>
    This privacy policy for Friberg Car Rentals AB ("<span class="fw-bold">we</span>", "<span class="fw-bold">us</span>", "<span class="fw-bold">our</span>") explains how we collect, store, use, and protect your personal information in connection with the provision of our services (the “<span class="fw-bold">Services</span>”). We are committed to safeguarding your privacy and ensuring that your personal data is handled in a safe and responsible manner in accordance with applicable data protection laws, including the General Data Protection Regulation (<span class="fw-bold">GDPR</span>) and any other relevant legislation.
</p>

<hr style="border: none; border-top: 1px solid #888; margin: 3rem 0;">

<h3 class="mt-5 mb-3">
    1. Scope and Applicability
</h3>

<p>
    This Privacy Policy applies to all personal data processed by us when you access or use our website and other related services. By accessing our Services, you acknowledge that you have read, understood, and agree to be bound by this Privacy Policy. If you do not agree with our policies and practices, do not use our Services.
</p>

<h3 class="mt-5 mb-3">
    2. Information We Collect
</h3>

<p>
    We collect various types of personal information that you voluntarily provide to us, including but not limited to:
</p>

<ul>
    <li>
        <span class="fw-bold">Registration Information:</span> Such as your email address and password.
    </li>
    <li>
        <span class="fw-bold">Transaction Data:</span> Including booking details, booking history, payment information, and transaction history.
    </li>
    <li>
        <span class="fw-bold">Communication Data:</span> When you contact our customer support or interact with our website, we may record your queries, messages, and related correspondence.
    </li>
    <li>
        <span class="fw-bold">Usage Data:</span> Information automatically collected through cookies and other technologies (see Section 6) including account infomation and website usage.
    </li>
</ul>

<p>
    We only collect personal data that is necessary for the provision of our Services and to comply with our legal obligations.
</p>

<h3 class="mt-5 mb-3">
    3. Legal Bases for Processing Your Data
</h3>

<p>
    We process your personal data on one or more of the following legal bases:
</p>

<ul>
    <li>
        <span class="fw-bold">Contractual Necessity:</span> For the performance of a contract to which you are a party, such as processing bookings and payments.
    </li>
    <li>
        <span class="fw-bold">Consent:</span> Where you have given your explicit consent for a specific purpose.
    </li>
    <li>
        <span class="fw-bold">Legal Obligation:</span> To comply with applicable laws and regulations.
    </li>
    <li>
        <span class="fw-bold">Legitimate Interests:</span> In cases where processing is necessary for the purposes of our legitimate interests, provided such interests are not overridden by your rights and freedoms.
    </li>
</ul>

<h3 class="mt-5 mb-3">
    4. Use of Your Information
</h3>

<p>
    Your personal information is used for the following purposes:
</p>

<ul>
    <li>
        <span class="fw-bold">Service Provision and Improvement:</span> To manage your account, process bookings and payments, respond to inquiries, and personalize your experience.
    </li>
    <li>
        <span class="fw-bold">Communication:</span> To send you updates about our Services, changes to this Privacy Policy, and other service-related notifications.
    </li>
    <li>
        <span class="fw-bold">Compliance and Security:</span> To fulfill our legal, regulatory, and security obligations, including fraud prevention and ensuring the integrity of our systems.
    </li>
</ul>

<h3 class="mt-5 mb-3">
    5. Data Retention and Anonymization
</h3>

<p>
    We retain your personal data for as long as is necessary to provide our Services, for record-keeping purposes, or to comply with our legal and regulatory obligations. Should you choose to delete your account, your personal data will be anonymized or pseudonymized so that it can no longer be linked to you while preserving necessary historical records. The retention periods for different categories of data may vary, and we periodically review our data retention policies to ensure compliance.
</p>

<h3 class="mt-5 mb-3">
    6. Cookies and Similar Technologies
</h3>

<p>
    Our website employs cookies and similar tracking technologies to ensure essential functionality and to enhance your user experience. Cookies are used to:
</p>

<ul>
    <li>
        Maintain user sessions and support the secure functioning of our website.
    </li>
    <li>
        Personalize your experience on our website.
    </li>
</ul>

<p>
    We do not use third-party advertising or tracking cookies that collect personally identifiable information. You may manage your cookie preferences through your browser settings, but please note that disabling cookies may affect the performance of our website.
</p>

<h3 class="mt-5 mb-3">
    7. Data Transfers and International Considerations
</h3>

<p>
    Your personal data is primarily processed within the European Economic Area (EEA). In circumstances where data is transferred outside the EEA, we ensure that adequate safeguards are in place, such as standard contractual clauses or other approved mechanisms, to protect your data in accordance with applicable legal requirements.
</p>

<h3 class="mt-5 mb-3">
    8. Your Rights as a Data Subject
</h3>

<p>
    Under applicable data protection laws, you have certain rights regarding your personal data. These rights include:
</p>

<ul>
    <li>
        <span class="fw-bold">Right of Access:</span> You may request confirmation as to whether your personal data is being processed and, if so, access to your personal data.
    </li>
    <li>
        <span class="fw-bold">Right to Rectification:</span> If any of your personal data is inaccurate or incomplete, you have the right to request its correction or completion.
    </li>
    <li>
        <span class="fw-bold">Right to Erasure (“Right to be Forgotten”):</span> Subject to certain conditions and legal obligations, you may request the deletion of your personal data.
    </li>
    <li>
        <span class="fw-bold">Right to Restrict Processing:</span> You may request that we restrict the processing of your personal data under certain circumstances.
    </li>
    <li>
        <span class="fw-bold">Right to Object:</span> You have the right to object to the processing of your personal data where processing is based on legitimate interests or for direct marketing purposes.
    </li>
    <li>
        <span class="fw-bold">Right to Data Portability:</span> You may request to receive your personal data in a structured, commonly used, and machine-readable format, and to have it transferred to another data controller.
    </li>
    <li>
        <span class="fw-bold">Right to Withdraw Consent:</span> Where processing is based on your consent, you have the right to withdraw your consent at any time without affecting the lawfulness of processing based on consent before its withdrawal.
    </li>
</ul>

<p>
    To exercise any of these rights, please contact us using the details provided in Section 9 below. We may require additional information to verify your identity before processing your request. In certain instances, we may refuse to act on your request if we are legally required to retain certain data or if the request is manifestly unfounded or excessive.
</p>

<h3 class="mt-5 mb-3">
    9. Data Protection Officer (DPO) and Inquiries
</h3>

<p>
    For any questions or concerns regarding this Privacy Policy, our data practices, or to exercise your rights, please contact our Data Protection Officer:
</p>

<ul class="list-unstyled ms-3">
    <li class="mb-2">
        Email: dpo@fribergcarrentals.com
    </li>
    <li>
        Address: Fribergsvägen 12, Stockholm
    </li>
</ul>

<h3 class="mt-5 mb-3">
    10. Policy Updates
</h3>

<p>
    We periodically review and update this Privacy Policy to ensure that it remains compliant with applicable laws and reflects our current practices. If material changes are made, we will notify you by email and update the “Last updated” date at the top of this policy. We encourage you to review this policy periodically to stay informed about how we are protecting your information.
</p>

<h3 class="mt-5 mb-3">
    11. Legal Disclaimers and Governing Law
</h3>

<p>
    This Privacy Policy is governed by and construed in accordance with the laws applicable within the European Union and the member state where our principal operations are located. Any disputes arising in connection with this policy shall be subject to the exclusive jurisdiction of the courts in Stockholm, Sweden. Should any provision of this Privacy Policy be found invalid or unenforceable, the remaining provisions shall remain in full force and effect.
</p>

<hr style="border: none; border-top: 1px solid #888; margin: 3rem 0;">

<p class="mb-5">
    By using our Services, you acknowledge that you have read and understood this Privacy Policy and consent to the processing of your personal data as described herein. If you have any further questions regarding our privacy practices, please do not hesitate to contact us.
</p>